@import './style/mixin.scss';
body {
  margin: 0;
  @include mobile();
  @include tablet();
  @include desktop();
  a {
    text-decoration: none;
    color: #000;
  }
  div,
  ul,
  li,
  p {
    margin: 0;
    padding: 0;
  }
}
